/*
  Name: Jimmy Liu
  Date: 11.23.2022
  Section: CSE 154 AA

  Basic styling for the website. The styling is not meant to be super fancy, just some simple
  formatting to make sure the website doesn't explode when you change the browser width by
  1px
*/

body {
  background-color: pink;
}

header {
  display: flex;
  flex-direction: row;
}

footer {
  margin-bottom: 0px;
  height: 20px;
  background-color: #BBFF33;
}

footer p {
  width: 100%;
  text-align: center;
}

p {
  margin: 3px;
  width: 601px;
}

input {
  width: 25px;
}

main > section > button {
  margin: 10px;
}

.maze-btn {
  margin: 2px;
  width: 60px;
  height: 60px;
  background-image: url("imgs/bean.png");
  background-size: cover;
}

.wall {
  background-image: url("imgs/bean-img.png");
}

.path {
  padding: 0px;
  border: solid #BBFF35 5px;
}

.hidden {
  display: none;
}

#bean {
  padding-top: 4%;
}

#bean img {
  width: 200px;
  height: 100px;
}

#maze {
  white-space: nowrap;
}

#display-msg {
  height: 200px;
  width: 600px;
}